<!--GET and POST Checker Assignment-->
<!--main.handlebars-->
<!--Author: Rachel Weissman-Hohler-->
<!--Date: 02/18/16-->
<!--CS290-400-->

<!doctype html>
<html>
<head>
<title>My Page</title>
</head>
<body>
{{{body}}}
</body>
</html>