<h1>The Home Page</h1>

<h2>Lakeview Weather</h2>
<ul>
	<li>{{lakeviewWeather.main.temp}}
	<li>{{lakeviewWeather.weather[0].main}}
</ul>

<h2>Corvallis Weather</h2>
<ul>
	<li>{{corvallisWeather.main.temp}}
	<li>{{corvallisWeather.weather[0].main}}
</ul>