<h1>The Home Page</h1>

<h2>Lakeview Weather</h2>
<ul>
	<li>{{lakeviewWeather.temp}}
	<li>{{lakeviewWeather.weather}}
</ul>

<h2>Corvallis Weather</h2>
<ul>
	<li>{{corvallisWeather.temp}}
	<li>{{corvallisWeather.weather}}
</ul>