      <div class="jumbotron">
        <h1>How To: NYT Congress API</h1>
        <p>This guide will walk you through how to get started using the New York Times' Congress API.</p>
      </div>

      <div class="page-header">
      	<h1>Overview of the API</h1>
      </div>
      <p>The Congress API is developed and maintained by The New York Times, as part of their Developer Network.  It provides access to a variety of information about the U.S. Congress, including biographical and voting history for members of Congress, information about bills at various stages of progress, and historical data for both the House and Senate.  This data is sourced from a variety of locations, including the official websites of the House and the Senate, The Library of Congress, the Biographical Directory of the United States Congress, GovTrack.us, and the Sunlight API.  For a full list of data sources, see <a href="http://developer.nytimes.com/docs/congress_api#h3-data">here</a>.
      </p>
      <p>Before we get started, you should visit the <a href="http://developer.nytimes.com/">main developer page</a>, and be sure to read the <a href="http://developer.nytimes.com/Api_terms_of_use">terms of use</a> and the <a href="http://developer.nytimes.com/attribution">attribution guidelines</a>.  You'll also want to go to their <a href="http://developer.nytimes.com/branding_guide">branding guide</a>, and get a logo to display on any page that you create with their API.</p>
      <p>If you have more questions about The New York Times APIs in general, a great place to start is their <a href="http://developer.nytimes.com/docs/faq">FAQ page</a>.  Finally, to view the existing documentation on The Congress API, go to <a href="http://developer.nytimes.com/docs/congress_api">this page</a>.