<h1>The Home Page</h1>

<h2>Lakeview Weather</h2>
<ul>
	{{#each lakeviewWeather}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>

<h2>Corvallis Weather</h2>
<ul>
	{{#each corvallisWeather}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>