<div class="page-header">
	<h1>Demo Application</h1>
</div>
<div class="blog-header">
	<h3 class="blog-title">Please enter your name to get started.</h3>
</div>
<div class="blog-post">
	<form action="/demo" method="post">
		<label for="name">Your Name:</label>
		<input id="name" type="text" name="name">
		<input type="submit" name="New Query">
	</form>
</div>